//main: style.scss

#body-about{
  main{
  width: 90%;
  margin: auto;
  min-height: 80vh;
  @include flex(center, center, row);
  // background: url(../img/background.svg);
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: 900px;
}
main{
  p{
    padding: 1rem;
    width: 500px;
    line-height: 1.5rem;
   //background-color: rgba(256,256, 256, 0.8);
    border-radius: 5px;
  }
  }
}

@media screen and (max-width: 660px){
  #body-about{
    main{
      p{
        width:90vw;
      }
    }
  }

}
