//main: style.scss

.contact-form{
  min-height: 80vh;
  @include flex(center, center, row);
  form{
    height:400px;
    @include flex(space-around, flex-start, column);
    box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.4),
    20px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 1em;
  }
  input, textarea{
    padding: 0.1em;;
    width: 100%;
    &:focus{
      border:2px solid $main-color;
    }
    }
    textarea{
      vertical-align: top;
    }
    .submit{
      background: $main-color;
      color:white;
      padding: 0.5em;
      opacity: 0.9;
      &:focus{
        opacity:1;
        }
  }
}

@media screen and (max-width: 520px){
  .contact-form{
    min-height: 70vh;
  }
}
